

/*Adding space under navigation bar so picture dosen't go under the bar*/
body::before {
    display: block;
    content: "";
    height: 60px;
}

@media(min-width: 768px) {
    .news-input {
        width: 50%;
    }
}

/*Overwriting the Bootstrap color with a new one*/
.navbar {
    background-color: rgb(252, 245, 177);
}
.navbar-brand {
    color: rgb(255, 202, 13);
    font-size: 22px;
}
.navbar-brand:hover{
    color: rgb(107, 88, 65);
}

.nav-link:hover{
    color:rgb(107, 88, 65);
}

.nav-link {
    color: rgb(255, 202, 13);
    font-size: 18px;
    margin-left: 20px;
    margin-right: 0px;

}
.card {
    border: none;
    background-color: rgb(252, 245, 177);
    color: rgb(107, 88, 65);
    margin-top: 40px;
    margin-bottom: 40px;
}

.p-1 {
    background-color:rgb(255, 250, 240);
}

.p-5 {
    background-color: rgb(216, 208, 197);
    color: white;
}

.col-md {
    margin-top: 1cm;
    margin-bottom: 1cm;
}

.p-55 {
    background-color:rgb(255, 250, 240);
}
.container {
    margin: bottom 1px;
}

.img-fluid {
    max-width: 15cm;
    max-height: 15cm;
    margin-left: 2cm;
    margin-right: 0cm;
}
